body {
    font-size: larger; 
    background-color: rgb(88, 90, 82);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
span{
    color: green;
    font-size: 24px;
}
header h1{
    text-align: center;
}
 header li a{
    text-decoration: none;
    font-size: large;
    list-style: none;
    
}
footer p{

    text-align: center;
    font-size: medium;
    margin-top: auto;
}

#about{
    color: rgb(6, 29, 29);
}
#contact{
    color: rgb(6, 29, 29);
}
section{
    margin: 15px;
}
h2 {
    color: blue;
}
#skill{
    font-size: 24px;
    padding-left: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img{
    border-radius: 50%;
}
.profile-pic{
    border: 0px solid rgb(76, 116, 76);
    width: fit-content;
    border-radius: 50%;
}
